<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/root-style.css">
    <link rel="stylesheet" href="../../styles/css-reset-jc.css">
    <link rel="stylesheet" href="../body.css">
    <link rel="stylesheet" href="clock-style.css">
    <script src="../../js/clock.js" defer></script>
    <title>Clock Design</title>
</head>
<body>
    <button class="container" id="comp-clock">
        <p class="txt-m-color" id="text-clock">
            00:00 AM
        </p>
    </button>
</body>
</html>