@import '../../styles/root-style.css';

.comp-soc-med > svg {
    fill: var(--primary-color);
    filter: drop-shadow(0 0 0 transparent);
    height: 25px;
    width: 25px;
    transition: var(--sm-trans);
}

.comp-soc-med:hover > svg {
    filter: drop-shadow(0 0 5px rgba(19, 30, 237, 0.7));
    transform: scale(1.1);
}

.comp-btn {
    border: 0;
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0 transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--sm-trans);
}

.comp-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 3px rgba(19, 30, 237, 0.5);
}

.comp-btn:active {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px 5px rgba(19, 30, 237, 0.5);
    transform: scale(0.9);
}

.comp-btn:not(:hover):active {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0 transparent;
    transform: scale(1);
}

.comp-btn > svg {
    fill: var(--secondary-color);
    transition: var(--md-trans);
}

.comp-btn:hover > svg {
    transform: rotate(180deg);
}

.comp-btn:active > svg {
    fill: var(--primary-color);
}

.comp-btn:not(:hover):active > svg {
    fill: var(--secondary-color);
}

.comp-btn.rounded {
    border-radius: 15px;
}

.comp-btn.circle {
    border-radius: 50%;
}