<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/root-style.css">
        <link rel="stylesheet" href="../../styles/css-reset-jc.css">
        <link rel="stylesheet" href="../body.css">
        <link rel="stylesheet" href="switch-style.css">
        <script src="../../js/switch.js" defer></script>
        <title>Switch</title>
    </head>
</head>

<body>
    <button class="container comp-switch" id="switch-1">
        <div class="circle-toggle"></div>
    </button>
    <button class="container comp-switch" id="switch-1">
        <div class="circle-toggle"></div>
    </button>
    <button class="container comp-switch" id="switch-1">
        <div class="circle-toggle"></div>
    </button>
    <button class="container comp-switch" id="switch-1">
        <div class="circle-toggle"></div>
    </button>
</body>

</html>