@import '../styles/root-style.css';

body {
    background-image: var(--background-color);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.flex-column {
    flex-direction: column;
}

body.two-panel {
    min-height: 900px;
}

main {
    padding: 0 30px;
    max-width: 1440px;
    width: 100%;
    display: flex;
}

main>.mock-up {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
}

@media screen and (max-width: 980px) {
    main {
        padding: 30px 0;
        height: 100dvh;
        flex-direction: column;
        overflow: hidden;
    }

    main>.mock-up {
        height: 100%;
        min-height: 450px;
    }
}