<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/css-reset-jc.css">
    <link rel="stylesheet" href="../body.css">
    <link rel="stylesheet" href="../buttons/buttons-icons-style.css">
    <link rel="stylesheet" href="dialog-add-style.css">
    <script src="dialog-add.js" defer></script>
    <title>Dialog Add</title>
</head>

<body>
    <div class="container" id="item-container">
    </div>
    <div class="container comp-dialog" id="add">
        <section id="prompt">
            <div class="container" id="time">
                <input type="number" name="" id="num-1" placeholder="0">
                <input type="number" name="" id="num-2" placeholder="0">
                <label for="">:</label>
                <input type="number" name="" id="num-3" placeholder="0">
                <input type="number" name="" id="num-4" placeholder="0">
                <div class="container" id="am-pm">
                    <p id="hidden-txt">
                        AM
                    </p>
                    <button class="ticked" type="button" value="am">AM</button>
                    <button class="" type="button" value="pm">PM</button>
                </div>
            </div>
            <div class="container" id="actions">
                <button type="button" class="comp-btn text oblong no-rotate" id="btn-confirm">
                    Confirm
                </button>
                <button type="button" class="comp-btn text oblong no-bg no-rotate" id="btn-cancel">
                    Cancel
                </button>
            </div>
        </section>
    </div>
</body>

</html>