@import '../../styles/root-style.css';
@import '../buttons/buttons-icons-style.css';
@import '../toggle-switch/switch-style.css';

.comp-alarm-panel {
    --_spacing: 60px;

    background-color: rgba(255, 254, 244, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(19, 30, 237, 0.3);
    height: 900px;
    max-width: 590px;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--sm-trans);
}

.comp-alarm-panel>#btn-add {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 93%;
    left: 50%;
}

.comp-alarm-panel>#btn-down {
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 0%;
}

.comp-alarm-panel>#top-section {
    border-bottom: 4px solid var(--primary-color);
    margin: var(--_spacing) var(--_spacing) 25px;
    padding-bottom: 15px;
    color: var(--primary-color);
    font-size: var(--sm-fn);
    display: flex;
    gap: 10px;
    align-items: center;
}

.comp-alarm-panel>#alarm-section {
    box-shadow: inset 0 0 100px 100px transparent;
    cursor: pointer;
    mask-image: linear-gradient(180deg, #FFF 55%, rgba(0, 0, 0, 0) 95%);
    height: 100%;
    padding-bottom: calc(90px * 7 + 20px);
    transition: var(--sm-trans);
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.comp-alarm-panel>#alarm-section::-webkit-scrollbar {
    display: none;
}

.comp-alarm-panel>#alarm-section>.alarm-item {
    color: var(--primary-color);
    font-size: var(--sm-fn);
    height: 90px;
    width: 100%;
    padding: 0 var(--_spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp-alarm-panel>#alarm-section>.alarm-item:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.comp-alarm-panel>#alarm-section>.alarm-item>.alarm-actions {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 980px) {
    .comp-alarm-panel {
        background-color: transparent;
        box-shadow: none;
        max-width: none;
        width: 100%;
        min-width: none;
        height: 40%;
    }

    .comp-alarm-panel>#btn-down {
        display: block;
    }

    .comp-alarm-panel>#top-section {
        display: none;
    }

    .comp-alarm-panel>#alarm-section {
        padding-bottom: calc(90px * 4 + 20px);
    }

    .comp-alarm-panel.unexpanded {
        height: 0px;
    }

    .comp-alarm-panel.unexpanded>#btn-add {
        display: none;
    }

    .comp-alarm-panel.unexpanded>#btn-down {
        top: -33px;
        left: 50%;
    }

    .comp-alarm-panel.unexpanded>#btn-down>svg {
        transform: rotate(180deg);
    }

    .comp-alarm-panel.unexpanded>#alarm-section {
        display: none;
    }
}