@import url('https://fonts.cdnfonts.com/css/inria-sans');

:root {
    font-family: 'Inria Sans', sans-serif;
    --background-color: linear-gradient(180deg, #1F1D31, #0D0C15);
    --primary-color: #FFFEF4;
    --secondary-color: #633412;
    --drop-shadow-color: rgba(19, 30, 237, 0.3);
    --sm-trans: 0.2s;
    --md-trans: 0.5s;
    --lrg-trans: 1s;
    --xms-fn: 24px;
    --sm-fn: 36px;
    --nm-fn: 48px;
    --lrg-fn: 56px;
    --xlr-fn: 64px;
}

button:not(.nb) {
    cursor: pointer;
}

.txt-m-color {
    color: var(--primary-color);
}