@import 'root-style.css';
@import '../components/clock/clock-style.css';
@import '../components/alarm-panel/alarm-panel-style.css';
@import '../components/buttons/buttons-icons-style.css';
@import '../components/dialog-add/dialog-add-style.css';

body {
    background-image: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 30px;
    max-width: 1440px;
    height: 100dvh;
    width: 100%;
    display: flex;
}

main>section#clock {
    width: 100%;
    display: grid;
    grid-template-areas:
        'author'
        'clock'
        'socmed'
    ;
    justify-content: center;
    position: relative;
}

main>section#clock>#btn-hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

main:has(>.comp-alarm-panel.unexpanded)>section#clock>#btn-hamburger {
    display: flex;
    opacity: 1;
    transition-duration: var(--sm-trans);
    transition-behavior: allow-discrete;
    transition-property: display opacity;
    transition: opacity var(--sm-trans) var(--md-trans);

    @starting-style {
        opacity: 0;
    }
}

main>section#clock>#author {
    grid-area: author;

    color: var(--primary-color);
    text-align: center;
}

main>section#clock>#comp-clock {
    grid-area: clock;

    align-self: center;
}

main>section#clock:has(>#comp-clock.clean)>#author,
main>section#clock:has(>#comp-clock.clean)>#socmed,
main>section#clock:has(>#comp-clock.clean)>#btn-hamburger {
    display: none;
    opacity: 0;
}

main>section#clock>#socmed {
    grid-area: socmed;

    align-self: flex-end;
    justify-self: center;
    display: flex;
    gap: 5px;
}

main>section#clock>#author,
main>section#clock>#socmed {
    transition-behavior: allow-discrete;
    transition-duration: var(--sm-trans);
    transition-property: display opacity;
    opacity: 1;

    @starting-style {
        opacity: 0
    }
}

@media screen and (max-width: 980px) {
    main {
        min-height: none;
        flex-direction: column;
        overflow: hidden;
    }

    main>section#clock {
        height: 100%;
        grid-template-areas:
            'author'
            'socmed'
            'clock'
        ;
        grid-auto-rows: min-content min-content 1fr;
        gap: 5px;
    }

    main>section#clock>#btn-hamburger {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 30px 0;
    }
}